node_modules
dist
temp

# Visual Studio Temp Project
.vs/
*.sublime-project
*.sublime-workspace
*.code-workspace
.idea
/.settings/

# NPM Install Temp
__temp/

*.tar.gz

.cache

.turbo

# yarn
.yarn/cache
.yarn/install-state.gz
